[Unit]
Description=Weather Monitor
After=network-online.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/noyuno/weather-monitor
ExecStart=/usr/bin/python3 run.py

[Install]
WantedBy=multi-user.target
